img{
    height: 1.5rem;
    background-color: transparent;
    padding: 2px 14px;
}

.button {
   background-color: #dbdbe4;
   border: none;
   border-radius: 5%;
    
}

.button:hover {
    background-color: rgb(214, 190, 190);
}