
.cart-item{
    height: 6rem;
    width: 70%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: cyan;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.cart-img{
    height: 80%;
    object-fit: contain;
    border-radius: 1rem;
}