.cart-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.error{
    margin: 1rem auto;
}

.volver-al-inicio{
    border: none;
    margin: 0 auto;
    background-color: violet;
    border-radius: 1rem;
}

.volver-al-inicio:hover{
    background-color: rgb(230, 195, 230);
}