
.NavBar{
    background-color: rgb(13, 184, 184);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding:1rem 0 1rem 0rem ;
  }  

.link{
 text-decoration: none;
 color: aliceblue;
} 

a:hover{
  color: rgb(163, 163, 252);
}

.logo{
  background-color: transparent;
  height: 3.5rem;
}
